@import "tailwindcss";

@plugin "daisyui" {
  themes: light;
}

body {
  font-family: "Poppins", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
